.body {
  width: 100%;
  display: grid;
  grid-template-columns: 1;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.products-container {
  background-color: #505050;
  margin-top: 1.5rem;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.section__search {
  display: grid;
  justify-content: center;
  background-color: #FFf;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.search {
  background: none;
  margin-top: 20px;
  height: 25px;
  border: none;
  border-bottom: #707070 solid;
}

.filter__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height: auto;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #FFF;
  z-index: 1;
  transform: translateY(-100%);
  transition: 0.5s ease;
  border-radius: 0 0 10px 10px;
  margin-right: 5px;
  margin-left: 10px;
}

.filter__open {
  margin-top: 55px;
  transform: translateX(0%);
}

@media (max-width: 600px) {
  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .filter__container {
    width: 100%;
    margin-right: 0;
  }

}

@media (min-width: 600px) and (max-width: 900px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}