.login {
  height: calc(100vh - 275px);
  margin: 0;
}

.form {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 2;
  background-color: #eee;
  width: 95%;
  padding: 10px;
  margin: auto;
  margin-top: 50px;
  max-width: 600px;
  border: 1px solid #aaa5;
  border-radius: 10px;
}

.form__input-password {
  min-width: 150px;
  border-radius: 5px;
  border: 1px solid;
  width: 100%;
}

.form__input-email {
  min-width: 150px;
  border-radius: 5px;
  border: 1px solid;
  width: 100%;
}

.form__btn {
  background-color: #A52A2A;
  color: #FFF;
  border: 1px solid;
  border-radius: 5px;
  margin-right: 5px;
  grid-column: 5;
  transition: 0.2s ease;
}

.form__btn:hover {
  transform: scale(1.05);
}

.form__password {
  grid-column: 3/4;
  grid-row: 1 / 2;
}

.form__email {
  grid-column: 2;
  grid-row: 1/2;
}


@media (max-width: 600px) {
  .form {
    grid-template-columns: repeat(1, 1fr);
  }

  .form__password {
    grid-column: 1;
    grid-row: 3/4;
  }

  .form__email {
    grid-column: 1;
    grid-row: 1/2;
  }

  .form__btn {
    border: 1px solid;
    border-radius: 5px;
    margin-right: 5px;
    grid-column: 1;
    grid-row: 5;
  }

}

@media (min-width: 600px) and (max-width: 900px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
  }
}

.isLogged {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  height: calc(100vh - 275px);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.isLogged__h1 {
  width: 100%;
  max-width: 600px;
  margin: 10px;
  padding: 10px;
  background-color: #FFF;
  border-radius: 10px;
}

.isLogged__btn {
  background-color: #A52A2A;
  color: #FFF;
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
}