.App {
  background-color: #505050;
  height: 100vh;
}

.footer {
  margin: 0;
  position: relative;
  margin-bottom: 0;
}

.App__loading {
  background-image: url(./assets/loading.jpg);
  background-size: cover;
  aspect-ratio: 1;
  width: 100%;
  height: 100vh;
  padding: 2em;
  border: 1px solid;
  position: absolute;
  z-index: 150;
}

.App__loadin-close {
  transition: 1s;
  translate: -100%;
}