.App {
  display: flex;
  flex-direction: column;
  background-color: #505050;
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
}

.footer {
  margin-top: auto;
}

.App__loading {
  display: flex;
  background-image: url(./assets/loading.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 2em;
  border: 1px solid;
  position: absolute;
  z-index: 150;
}

.App__loadin-close {
  transition: 1s;
  translate: -100%;
}

.routes {
  margin-top: 55px;
}

@media (max-width: 900px) {
  .App__loading {
    display: flex;
    background-image: url(./assets/loading2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 2em;
    border: 1px solid;
    position: absolute;
    z-index: 150;
  }
}